<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="text-center">
	        <h1 class="h3 mb-3 font-weight-normal">欢迎使用304网盘系统</h1>
			<div id="wang" class="alert alert-danger" role="alert" hidden="hidden">...</div>
	        <label for="inputEmail" class="sr-only">address</label>
	        <input type="text" id="inputAccound" name="account" class="form-control" placeholder="address" required autofocus>
	        <label for="inputPassword" name="password" class="sr-only">Password</label>
	        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<input type="text" id="yqm" class="form-control" placeholder="邀请码" required>
	        <div class="checkbox mb-3">
	            <label>
	                <input type="checkbox" value="remember-me"> 记住我
	            </label>
	        </div>
	        <button id="submit" name="submit" class="btn btn-lg btn-primary btn-block" type="button">注册</button>
	        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
	    </form>
	</div>
</body>
	<script>
		$(function(){
			$('#submit').click(function(){
				var account=$('#inputAccound').val();
				var password=$('#inputPassword').val();
				var yqm=$('#yqm').val();
				$.post({
					url:"/singup",
					data:{"accound":account,"password":password,"yqm":yqm},
					dataType:"json",
					success:function(result){
						var code=result['code'];
						var msg=result['msg'];
						if(code=="200"){
							console.log("成功");
						}else{
							$("#wang").show().html(msg);
						}
						console.log(result);
					},
					error:function(result){
						var msg=result['msg'].val();
						$("#wang").show().html(msg);
						console.log(result+"shibai");
					}
				});
			})
		});
	</script>
</html>